* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container .box {
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    transform: rotateX(-21deg) rotateY(38deg) rotateZ(0deg);
    /* 定义旋转体的初值值和空间位置 */
}


.container .box>div>span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(145deg, rgba(227,255,253,1) 0%, rgba(183,233,230,1) 100%);
    user-select: none;
    /* 禁止用户选择 */
}
.container .box>div span:nth-child(1) {
    transform: rotateX(90deg) rotateY(0deg) translate3d(0px, -75px, 75px);
}

.container .box>div span:nth-child(2) {
    transform: rotateX(90deg) rotateY(0deg) translate3d(0px, -75px, -75px);
}

.container .box>div span:nth-child(3) {
    transform: rotateX(0deg) rotateY(90deg) translate3d(75px, 0px, -75px);
}

.container .box>div span:nth-child(4) {
    transform: rotateX(0deg) rotateY(90deg) translate3d(75px, 0px, 75px);
}

.container .box>div span:nth-child(5) {
    transform: rotateX(0deg) rotateY(0deg) translate3d(0px, 0px, 0px);
}

.container .box>div span:nth-child(6) {
    transform: rotateX(0deg) rotateY(0deg) translate3d(0px, 0px, -150px);
}



@media screen and (min-width: 500px){
    .container .box {
        width: 400px;
        height: 400px;
    }
    .container .box>div span:nth-child(1) {
        transform: rotateX(90deg) rotateY(0deg) translate3d(0px, -200px, 200px);
    }

    .container .box>div span:nth-child(2) {
        transform: rotateX(90deg) rotateY(0deg) translate3d(0px, -200px, -200px);
    }

    .container .box>div span:nth-child(3) {
        transform: rotateX(0deg) rotateY(90deg) translate3d(200px, 0px, -200px);
    }

    .container .box>div span:nth-child(4) {
        transform: rotateX(0deg) rotateY(90deg) translate3d(200px, 0px, 200px);
    }

    .container .box>div span:nth-child(5) {
        transform: rotateX(0deg) rotateY(0deg) translate3d(0px, 0px, 0px);
    }

    .container .box>div span:nth-child(6) {
        transform: rotateX(0deg) rotateY(0deg) translate3d(0px, 0px, -400px);
    }
}